<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG">
    <parameter name="baseURL" value="https://bbb.testpro.io/"/>

    <test name="playSong" preserve-order="true">
        <classes>
            <class name="PageFactory23.PlaySong"/>
        </classes>
    </test>

</suite>